ul .nav-link{
    font-size: 16px !important;
    color:black !important;
    padding:10px 15px !important;
}

input.navSearchInput{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    width:450px;
    height:48px;
    padding:0px 30px;
    border:none !important;
}

input.navSearchInput:focus{
    outline: none !important;
    box-shadow: none !important;
    background: #F3F3F3 !important;
}

.searchDropdown{
    z-index: 200;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border:none;
    border-radius: 0px 0px 40px 40px;
    top: 50%;
    left: 50%;
    width:450px;
    transform: translate(-50%);
}

@media only screen and (max-width: 576px) {
    input.navSearchInput{
        width:340px;
        border:none !important;
    }
    .searchDropdown{
        width:340px !important;
    }
  }
  